@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Cormorant+Upright&family=Fuzzy+Bubbles&family=Indie+Flower&family=Kranky&family=Lobster+Two&family=Patrick+Hand&family=Shadows+Into+Light+Two&display=swap');

.pop-up-div{
    background-color: white;
    height: 65%;
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.pop-up-container-left{
    padding: 1rem;
}

.pop-up-container-rigth{
    padding: 1rem;
    overflow-y: scroll;
}
.pop-up-flex-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

}

.pop-up-flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
}

.pop-up-grid{
    display: grid;
    grid-template-rows: 70% 15% 15%;
    justify-items: center;
}

.pop-up-statement-text{
    font-family: 'Open Sans';
}

.translation {
    color:maroon;
    font-weight: 700;
}

@media only screen and (max-width: 700px) {
    .pop-up-div{
        height: 80%;
        width: 70%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
    .pop-up-container-rigth{
        overflow-y: initial;
    }
    .pop-up-container-rigth{
        padding: 0 2rem 2rem 2rem;
    }

    .pop-up-container-left{
        padding: 1rem 1rem 0 1rem;
    }
    .pop-up-flex-column{
        height: 30vh;
    }

  }